{%  extends "account/public/base.html.twig" %}

{% block account_public_to_manage_url %}{{ path('account_manage_tag',{'account_username':account.username}) }}{% endblock %}

{% block body %}



    <div class="content">
        <ul class="mainListTags">
            {% for tag in tags %}

                <li class="tag">
                    <p>{{  tag.title }}</p>
                    <p>{{  tag.description | nl2br }}</p>
                    <p>{% if tag.enabled %}Enabled{%  else %}Disabled{%  endif %}</p>
                    <a class="button" href="{{ path('account_public_tag_show_tag',{'account_username':account.username,'tag_slug': tag.slug }) }}">Details</a>
                </li>

            {%  endfor %}
        </ul>


        {%  include 'account/public/common/share_export.html.twig' with {
        'title': 'Tags',
        'share_export_url': url('account_public_tag',{'account_username':account.username}),
        'share_export_tags_json_url':  url('api1_account_tags_json',{'account_id':account.id }),
        } %}

    </div>

{% endblock %}
