{%  extends "account/public/base.html.twig" %}

{% block account_public_to_manage_url %}{{ path('account_manage_event_calendar',{'account_username':account.username}) }}{% endblock %}

{% block body %}



    <div class="content">
        {%  include 'common/eventViewSwitcher.html.twig' with {'selected':'calendar', 'agendaURL':path('account_public_event',{'account_username':account.username }), 'calendarURL':path('account_public_event_calendar',{'account_username':account.username }) } %}
        <div id="calendarLoading">CALENDAR IS LOADING .......</div>
    </div>



    <div id="calendar"></div>

    <div class="content">
        <a class="button" href="#" onclick=" $('#calendar').fullCalendar('prev'); return false;">PREV</a>
        <a class="button" href="#" onclick=" $('#calendar').fullCalendar('next'); return false;">NEXT</a>
    </div>

    <div class="content">
        {%  include 'account/public/common/share_export.html.twig' with {
        'title': 'Events',
        'share_export_url': url('account_public_event',{'account_username':account.username}),
        'share_export_events_json_url':  url('api1_account_events_json',{'account_id':account.id }),
        'share_export_ical_url':  url('api1_account_events_ical',{'account_id':account.id }),
        } %}
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            $('#calendar').fullCalendar({
                header: {
                    left: '',
                    center: 'title',
                    right: ''
                },
                editable: false,
                eventSources: [{
                    'url': '{{ path('account_public_event_calendar_data',{'account_username':account.username}) }}'
                }],
                eventClick: function(calEvent, jsEvent, view) {
                    {# A reconstruction of the account_view_show_event route - this comment specially meant so I find this code if searching for this route. #}
                    window.location.href = '/a/{{ account.username }}/event/details/' + calEvent.id;
                },
                loading: function(isLoading, view) {
                    if (isLoading) {
                        $('#calendarLoading').show();
                    } else {
                        $('#calendarLoading').hide();
                    }
                },
                dayRender: function( date, cell ) {
                    if (date.format('YYYY-MM-DD') == '{{ now|date('Y-m-d') }}') {
                        $(cell).addClass('fc-state-highlight-now');
                    } else {
                        $(cell).removeClass('fc-state-highlight-now');
                    }
                },
                firstDay: 1
            })
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        .fc .fc-state-highlight-now {
            background: lightblue !important;
        }
    </style>
{% endblock %}
