{%  extends "account/manage/base.html.twig" %}

{% block body %}

    <div class="content">
        <p>Because this event has been sourced from another event, you can not cancel it.</p>
    </div>

{% endblock %}
