{%  extends "account/manage/base.html.twig" %}

{% block body %}


    <div class="content">


        <p>Enter the username:</p>


        <form action="#" method="post">
            <input type="hidden" name="action" value="follow">
            <input type="text" name="username" value="">
            <input type="submit" value="Follow" class="button">
        </form>


        {%  if accounts_to_follow %}

            <p>Or select from the directory:</p>

            {%  for account_to_follow in accounts_to_follow %}
                <div>
                    <i class="fas fa-user"></i> {{  account_to_follow.title }} ({{  account_to_follow.username }})
                    <form action="#" method="post">
                        <input type="hidden" name="action" value="follow">
                        <input type="hidden" name="guid" value="{{  account_to_follow.id }}">
                        <input type="submit" value="Follow" class="button">
                    </form>
                </div>
            {%  endfor %}
        {%  endif %}

    </div>

{% endblock %}
