{%  extends "account/manage/base.html.twig" %}

{% block body %}


    <div class="content">
        <div>Enter USER@SERVER</div>

        <form action="#" method="post">
            <input type="hidden" name="action" value="follow">
            <input type="text" name="username" value="">
            <input type="submit" value="Follow" class="button">
        </form>

    </div>

{% endblock %}
