{%  extends "account/manage/base.html.twig" %}

{% block body %}


    <div class="content">


        {%  if accounts_to_follow %}

            {%  for account_to_follow in accounts_to_follow %}
                <div>
                    <i class="fas fa-user"></i> {{  account_to_follow.title }} ({{  account_to_follow.username }})
                    <form action="#" method="post">
                        <input type="hidden" name="action" value="follow">
                        <input type="hidden" name="guid" value="{{  account_to_follow.id }}">
                        <input type="submit" value="Follow" class="button">
                    </form>
                </div>
            {%  endfor %}
        {%  else %}
            <p>There are no more accounts on this server you can follow!</p>
        {%  endif %}

    </div>

{% endblock %}
