{%  extends "sysadmin/base.html.twig" %}


{% block body %}


    <div class="content">

        <table class="table">
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Title</th>
                <th>Locked</th>
                <th></th>
            </tr>
            {%  for user in users %}
                <tr>
                    <td>{{  user.id }}</td>
                    <td>{{  user.email }}</td>
                    <td>{{  user.title }}</td>
                    <td>{%  if user.locked %}Locked{%  else %}-{%  endif %}</td>
                    <td>
                        <a href="{{  url('sysadmin_user_show_user', {user_id: user.id}) }}" class="button" role="button">Sysadmin</a>
                    </td>
                </tr>
            {%  endfor %}
        </table>
    </div>

{% endblock %}
