{%  extends "account/public/base.html.twig" %}

{% block account_public_to_manage_url %}{{ path('account_manage',{'account_username':account.username}) }}{% endblock %}

{% block body %}

    <div class="content">
        <p>Welcome to this account</p>

        <h3>Events</h3>

        <a  class="button" role="button"    href="{{ path('account_public_event',{'account_username':account.username}) }}"><i class="fas fa-calendar"></i> Events</a>

        <h3>Tags</h3>

        <a  class="button" role="button"    href="{{ path('account_public_tag',{'account_username':account.username}) }}"><i class="fas fa-tags"></i> Tags</a>

    </div>


{% endblock %}
