{%  extends "base.html.twig" %}


{% block body %}


    <div class="content">
        <ul>
            {%  for timezone in timezones %}
                <li><a href="{{  path('set_timezone', {'set_timezone':timezone.code,'from_url':fromURL}) }}">{{  timezone.code }}</a></li>
            {%  endfor %}
        </ul>

    </div>

{% endblock %}
