<html>
    <body>

        <p>Here are today's events for {{ account.title }}:</p>

        {%  for eventOccurrence in upcomingEventOccurrences %}
            <div>
                <p>{{  eventOccurrence.event.title }}</p>
                <p><a href="{{ url('account_public_event_show_event',{'account_username':accountLocal.username,'event_slug': eventOccurrence.event.slug }) }}?startutc={{ eventOccurrence.start('UTC')|date("Y-m-d-H-i-s") }}">More Details</a></p>
                <hr>
            </div>
        {%  endfor %}

    </body>
</html>
