<div class="switcherWrapper">
    <div class="switcherList">
        <div class="switcherAction {%  if selected == 'agenda' %}current{%  endif %}">
            <a href="{{  agendaURL }}">Agenda</a>
        </div>
        <div class="switcherAction {%  if selected == 'calendar' %}current{%  endif %}">
            <a href="{{  calendarURL }}">Calendar</a>
        </div>
    </div>
</div>
