{%  if entity.extraFields %}
    <table class="table">
        <tr>
            <th>Extra Key</th>
            <th>Value</th>
        </tr>
        {% for k,v in entity.extraFields %}
            <tr>
                <td>{{  k }}</td>
                <td>{{   v | nl2br | linkify }}</td>
            </tr>
        {%  endfor %}
    </table>
{%  endif %}
