{%  extends "base.html.twig" %}


{% block body %}

    <div class="content">

        <p>This website is currently in Read Only mode, and so this feature is unavailable. It will return soon.</p>

    </div>

{% endblock %}
